 <div class="container">
<h2 class="page-header">Add Blog</h2>
<form method="post" action="/users/blog">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title" placeholder="Title of blog...">
  </div>
  <div class="form-group">
    <label>Content</label>
    <p><textarea name="content" cols="60" rows="10" required="required" placeholder="content goes here....">
</textarea>
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
</div>